{#
/**
 * @file
 * Two column layout for the product attachment add/edit form.
 *
 * @see commerce/modules/product/templates/commerce-product-form.html.twig
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-product-attachment-form clearfix">
  <div class="layout-region layout-region-product-attachment-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-product-attachment-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-product-attachment-footer">
    <div class="layout-region-product-attachment-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
