{#
/**
 * @file product-attachment.html.twig
 * Default theme implementation to present product attachment data.
 *
 * Available variables:
 * - element: A list of content items. Use 'content' to print all content.
 * - attributes: HTML attributes for the container element.
 *
 * Examples:
 * - You can display the entire entity with 'element'.
 * - You can display fields with 'element.field_name'.
 * - Eg. 'element.name' or 'element.field_update_and_note_file'.
 * - Full field list here: admin/commerce/product-attachments/settings/fields.
 *
 * @see template_preprocess_product_attachment()
 *
 * @ingroup themeable
 */
#}
{% block product_attachment %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock product_attachment %}
